{% extends "user/base.html" %}

{% block main %}
{% load custom_tags %}
<div class="p-product">
  {% if product == None %}
  <span class="p-product__heading">Produto não encontrado</span>
  {% else %}
  <img src={{product.imageUrl}} class="p-product__img" />
  <div class="p-product__info">
    <span class="p-product__name">{{product.name}}</span>
    {% if product.discount == 0 %}
    <span class="p-product__value">R$ {{product.value | formatToCurrency}}</span>
    {% else %}
    <div class="p-product__values-info">
      <span class="p-product__old-value">R$ {{product.value | formatToCurrency}}</span>
      <span class="p-product__value">R$
        {{product.value | calcDiscount:product.discount | formatToCurrency}}</span>
      <span class="p-product__discount">({{product.discount | formatPercentage}}% de desconto)</span>
    </div>
    {% endif %}
    <span>Estoque: {{product.stock}}</span>
    <div class="p-product__freight-info">
      <i class="fa-solid fa-truck fa-xl" style="display: flex; align-items: center; height: 30px;"></i>
      <div>
        <span>Frete grátis para todo o mundo!</span>
        <p>Receba em até 1 hora <span class="bizarre-comment transparent">(estamos sempre pertinho de você
            heheheh)</span></p>
      </div>
    </div>
    <form method="post" action="{% url 'buy-product' %}" id="p-product__form">
      {% csrf_token %}
      <div class="c-input">
        <label>
          Quantidade <span>*</span>
        </label>
        <input id="p-product__amount-input" type="number" name="{{product.id}}" value="1" min="1"
          max="{{product.stock}}" required />
      </div>
    </form>
    <button class="c-button" type="submit" form="p-product__form">COMPRAR</button>
    <button class="c-button outline"
      onclick="addToCart('{{product.id}}', document.getElementById('p-product__amount-input').value)">ADICIONAR AO
      CARRINHO</button>
    <span class="p-product__description">Descrição</span>
    <p>{{product.description | linebreaks }}</p>
  </div>
  {% endif %}
</div>
{% endblock %}