.c-navbar {
  background-color: #335BE7;
  height: 64px;
  padding: 0 16px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.c-navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 auto;
}

.c-navbar h1:hover {
  cursor: pointer;
}

.c-navbar__cart-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.c-navbar__cart-button:hover {
  cursor: pointer;
  background-color: #d6d6d667;
}

#c-header__open-sidebar-button:hover {
  cursor: pointer;
}