.p-buy-product {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-buy-product__heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.p-buy-product__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.p-buy-product__form-title {
  font-weight: bold;
}

.p-buy-product__footer {
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-top: 1px solid #A3A3A3;
}

.p-buy-product__total {
  display: flex;
  justify-content: space-between;
}

.p-buy-product__total span:last-child {
  font-size: 1.5rem;
  font-weight: bold;
}