.p-signin {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-signin__heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.p-signin form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}