.p-signup {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.p-signup__heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.p-signup form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media only screen and (min-width: 600px) {
  .p-signup {
    width: 600px;
    margin: 0 auto;
  }
}