@import "./reset.css";

/* Páginas */
@import "./pages/home.css";
@import "./pages/product.css";
@import "./pages/buy-product.css";
@import "./pages/home-management.css";
@import "./pages/edit-product.css";
@import "./pages/add-product.css";
@import "./pages/cart-page.css";
@import "./pages/login.css";
@import "./pages/signup.css";
@import "./pages/finalized-purchase.css";
@import "./pages/failed-purchase.css";

/* Componentes */
@import "./components/product-card.css";
@import "./components/navbar.css";
@import "./components/search-bar.css";
@import "./components/button.css";
@import "./components/sidebar.css";
@import "./components/input.css";
@import "./components/cart-card.css";
@import "./components/account-menu.css";
@import "./components/product-card-management.css";

body {
  background-color: #E2EAF8;
}

main {
  margin-top: 64px;
}

.bizarre-comment {
  text-decoration: line-through;
  font-style: italic;
}

.bizarre-comment.transparent {
  opacity: 0.2;
}

li.warning {
  color: #FF0000;
  font-weight: bold;
}

li.info {
  color: #335BE7;
  font-weight: bold;
}


/*$breakpoints: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
  xl: 1400px,
  xxl: 1920px,
);*/