@import "./reset.css";

body {
  background-color: #E2EAF8;
}

main {
  padding: 16px;
}

.c-navbar{
  background-color: #335BE7;
  height: 64px;
  padding: 0 16px;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.c-input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  background-color: #FFFFFF;
}

.c-input {
  height: 40px;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
}

.c-input input {
  margin-left: 16px;
  height: 100%;
  width: 100%;
  border: none;
}

.c-input input:focus {
  outline: none;
}

.c-input .fa-magnifying-glass {
  width: 40px;
  text-align: center;
  color: #787878
}